datasets
transformers
peft
torch --index-url https://download.pytorch.org/whl/cu118
accelerate
bitsandbytes
google-cloud-aiplatform
google-cloud-logging
fastapi==0.115.11
uvicorn
gcsfs
google-cloud-storage
tensorboard
markupsafe==2.0.1
torchvision --index-url https://download.pytorch.org/whl/cu118
unsloth
trl>=0.8.0